<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.qingchengfit.shop">

  <application>
    <activity
        android:name="cn.qingchengfit.shop.base.ShopActivity"
        android:windowSoftInputMode="adjustPan"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="${APP_PACKAGE}"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="shop"
            android:scheme="qcstaff"
            />
      </intent-filter>
    </activity>

  </application>

</manifest>