<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="cn.qingchengfit.recruit"
    >

  <application android:allowBackup="true"
      >

    <activity android:name=".views.JobSearchChatActivity"
        android:windowSoftInputMode="stateVisible|adjustResize"
    />
  </application>

</manifest>
