<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.qcloud.timchat">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <meta-data
        android:name="com.tencent.rdm.uuid"
        android:value="e12a51d3-d049-456b-89cc-15d311605ce7" />

    <application>
        <activity android:name=".ui.GroupMemberActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
