<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.qingchengfit.saasbase"
    >

  <application
               android:label="@string/app_name"
               android:supportsRtl="true"
      >
    <activity android:name=".course.CourseActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="course"
            android:scheme="saasbase"
            />
      </intent-filter>
    </activity>
    <activity android:name=".qrcode.views.QRActivity">

    </activity>
    <activity android:name=".cards.views.CardProtocolActivity"/>

    <!-- 场馆配置 页面 -->
    <activity
        android:name="cn.qingchengfit.saasbase.gymconfig.GymConfigAcitivty"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="gym"
            android:scheme="${APP_SCHAME}"
            />
      </intent-filter>
    </activity>



    <!-- 场馆配置 页面 -->
    <activity
        android:name="cn.qingchengfit.saasbase.user.UserActivity"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data
            android:host="user"
            android:scheme="${APP_SCHAME}"
            />
      </intent-filter>
    </activity>

    <!--登录页面-->
    <activity
        android:name="cn.qingchengfit.saasbase.login.LoginActivity"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="cn.qingcheng.login"/>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

  </application>



</manifest>
