<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.qingchengfit.fitcoach"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    //位置
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    //网络状态
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    //wifi状态
    <uses-permission android:name="android.permission.CAMERA"/>
    //摄像头
    <uses-permission android:name="android.permission.INTERNET"/>
    //上网
    <!-- <uses-permission android:username="android.permission.MODIFY_AUDIO_SETTINGS"/> -->
    //录音
    <!-- <uses-permission android:username="android.permission.RECORD_AUDIO" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    //唤醒
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    //sdcard读写
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="ANDROID.PERMISSION.MOUNT_UNMOUNT_FILESYSTEMS"/>
    //挂在文件系统
    <!-- <uses-permission android:username="android.permission.READ_SMS"/> -->
    //读取短信
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    //读取联系人
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <!-- //写日历 -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    //读日历
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    //启动权限
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    //更改配置
    <uses-permission android:name="android.permission.VIBRATE"/>
    //震动
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    //下载管理
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    //无通知下载
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    //禁止键盘
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    //位置
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    //手机状态
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    //广播持久
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5657d0e167e58e8e7a006679"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Qingcheng"/>
        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="930b34879429924954de5a056bb5eba7"/>
        <meta-data
            android:name="QBSDKAppKey"
            android:value="TeeyzJqRvbGpXbgInHh5BxHx">
        </meta-data>

        <meta-data
            android:name="YZ_APP_ID"
            android:value="59474567e17a4d2a54"/>
        <!-- AppSecret -->
        <meta-data
            android:name="YZ_APP_SECRET"
            android:value="a42397223c2b842511ae3c1c9afcc31d"/>

        <activity
            android:name=".activity.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="192.168.167.33"
                    android:path="/mi-tracker-web/download.html"
                    android:port="8088"
                    android:scheme="http"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register">
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            >
        </activity>
        <activity
            android:name=".vmsfit.wxapi.WXPayEntryActivity"
            android:exported="true"
            >
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Qc.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        //sharesdk 分享
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".vmsfit.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".activity.CompleteActivity"
            android:label="@string/title_activity_complete"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name=".reciever.NetWorkReciever">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <!-- push service start -->
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW"/>
                <action android:name="com.baidu.android.pushservice.action.media.CLICK"/>
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD"/>
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE"/>
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true"/>
        <!-- push结束 -->
        <!-- 此处Receiver名字修改为当前包名路径 -->
        <receiver android:name=".reciever.PushReciever">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE"/>
                <!-- 接收bind、setTags等method的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE"/>
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.UpyunService"/>

        <activity
            android:name=".activity.TextInputActivity"
            android:label="@string/title_activity_text_input"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MyHomeActivity"
            android:label="@string/title_activity_my_home"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/title_activity_notification"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:label="@string/title_activity_notification"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.WebActivityWithShare"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.FragActivity"
            android:label="@string/title_activity_notification"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.LoadResActivity"
            android:alwaysRetainTaskState="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:process=":mini"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ChangeTimeActivity"
            android:label="@string/title_activity_change_time">
        </activity>
        <activity
            android:name=".activity.StudentHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ChooseStudentActivity"
            android:label="@string/title_activity_choose_student"
            android:theme="@style/AppTheme">
        </activity>

        <service
            android:name=".server.CalendarIntentService"
            android:exported="false">
        </service>

        <activity android:name=".activity.ChooseGymActivity"/>
        <activity
            android:name=".activity.BodyTestActivity"
            android:theme="@style/AppTheme"
            >
        </activity>
        <activity android:name=".activity.CoachHomeActivity">
        </activity>
    </application>

</manifest>
