<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.qingchengfit.testmodule"
    >

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.GET_TASKS"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_LOGS"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:name=".TestApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:replace="android:label"
      >

    <!-- 【必须】消息收发service -->
    <service
        android:name="com.tencent.qalsdk.service.QalService"
        android:exported="true"
        android:process=":QALSERVICE"
        >
    </service>
    <service
        android:name="com.tencent.qalsdk.service.QalAssistService"
        android:exported="false"
        android:process=":QALSERVICE"
        >
    </service>

    <!-- 【必须】 离线消息广播接收器 -->
    <receiver
        android:name="com.tencent.qalsdk.QALBroadcastReceiver"
        android:exported="false">
      <intent-filter>
        <action android:name="com.tencent.qalsdk.broadcast.qal"/>
      </intent-filter>
    </receiver>
    <receiver
        android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
        android:process=":QALSERVICE"
        >
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.TIME_SET"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
      </intent-filter>

      <!-- ImSDK 3.0.2 后添加 -->
      <intent-filter>
        <action android:name="com.tencent.qalsdk.service.TASK_REMOVED"/>
      </intent-filter>
    </receiver>

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <!--<activity android:name="cn.qingchengfit.recruit.views.RecruitActivity">-->
    <!--</activity>-->

    <!--<activity android:name="cn.qingchengfit.recruit.views.organization.SearchActivity">-->
    <!--</activity>-->
    <activity android:name=".TestActivity">
    </activity>

    <!--<activity-->
    <!--android:name="com.tencent.qcloud.timchat.ui.qcchat.ChatActivity"-->
    <!--android:launchMode="singleTask"-->
    <!--android:screenOrientation="portrait"-->
    <!--android:windowSoftInputMode="adjustResize"-->
    <!--&gt;-->
    <!--<intent-filter>-->
    <!--<action android:name="android.intent.action.VIEW"/>-->
    <!--<category android:name="android.intent.category.DEFAULT"/>-->

    <!--<data-->
    <!--android:host="chatactivity"-->
    <!--android:scheme="imchat"-->
    <!--/>-->
    <!--</intent-filter>-->
    <!--</activity>-->
    <activity
        android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        >
    </activity>


    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="cn.qingchengfit.testmodule.provider"
        android:grantUriPermissions="true"
        >
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/provide_path"
          />
    </provider>

    <!--<activity-->
    <!--android:name="cn.qingchengfit.recruit.views.JobSearchChatActivity"-->
    <!--android:launchMode="singleTask"-->
    <!--android:screenOrientation="portrait"-->
    <!--android:windowSoftInputMode="adjustResize"-->
    <!--/>-->



    <activity android:name="cn.qingchengfit.shop.base.ShopActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="shop"
            android:scheme="shop"
            />
      </intent-filter>
    </activity>


    <activity android:name="cn.qingchengfit.design.DesignActivity"/>

    <activity android:name="cn.qingchengfit.design.ColorActivity"/>
    <activity android:name="cn.qingchengfit.design.TextActivity"/>
    <activity android:name="cn.qingchengfit.design.EmptyActivity"/>
    <activity android:name="cn.qingchengfit.design.ButtonActivity"/>
    <activity android:name="cn.qingchengfit.design.CommonInputActivity"/>
    <activity android:name="cn.qingchengfit.design.BottomActivity"/>
    <activity android:name="cn.qingchengfit.design.AlertActivity"/>
    <activity android:name="cn.qingchengfit.design.ItemActivity"/>
    <activity android:name="cn.qingchengfit.design.SearchActivity"/>
  </application>

</manifest>