<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.qingchengfit.card">
  <application>
    <activity
        android:name="cn.qingchengfit.card.StaffCardActivity"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="${APP_PACKAGE}"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>

        <data
            android:host="card"
            android:scheme="qcstaff"
            />
      </intent-filter>
    </activity>
  </application>
</manifest>
