<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.qingchengfit.weex">

  <application>
    <activity android:name=".ui.WxPageActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
         android:launchMode="standard">
      <intent-filter>
        <action android:name="cn.qignchengfit.android.intent.action.WEEX"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="cn.qingchengfit.android.intent.category.WEEX"/>
        <action android:name="android.intent.action.VIEW"/>
      </intent-filter>
    </activity>


  </application>

</manifest>